# version: "3.8"

services:
  app:
    build: .
    container_name: docker-k8s
    ports:
      - "3001:3000"
    env_file:
      - .env
    depends_on:
      - mongo
    restart: always

  mongo:
    image: mongo:6
    container_name: mongo_db
    volumes:
      - mongo_data:/data/db
    restart: always

volumes:
  mongo_data:
